server:
  port: 8888

spring:
  profiles:
    active: native
  application:
    name: config-server

  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config

eureka:
  client:
    service-url:
      defaultZone: http://${EUREKA_BASE_URL}:${EUREKA_PORT}/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,env

logging:
  level:
    org.springframework.cloud.config: DEBUG