server:
  port: 8082

spring:
  application:
    name: user-service
  config:
    import: optional:configserver:http://config

  datasource:
    url: ${JDBC_CONNECTION_STRING}/users
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

  jpa:
    properties:
      hibernate:
        ddl-auto: create-drop

eureka:
  instance:
    instance-id: ${spring.application.name}:${random.value}