server:
  port: 8081

spring:
  config:
    import: optional:configserver:${CONFIG_URL}
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
          filters:
            - TokenRelay=
            - RemoveRequestHeader=Cookie

        - id: course-service
          uri: lb://course-service
          predicates:
            - Path=/api/courses/**
          filters:
            - TokenRelay=
            - RemoveRequestHeader=Cookie

        - id: course-video
          uri: lb://course-service
          predicates:
            - Path=/api/videos/**
          filters:
            - TokenRelay=
            - RemoveRequestHeader=Cookie

      default-filters:
        - TokenRelay=
        - RemoveRequestHeader=Cookie

eureka:
  instance:
    instance-id: ${spring.application.name}:${random.value}
